* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

:root {
    --font-button: 1.2rem;
    --font-small: 1rem;
    --weight-small: 500;
    --font-medum: 1.3rem;
    --weight-medum: 650;
    --font-large: 2rem;
    --weight-larger: 800;
    --color-main: #2878EB;
    --blue: #007bff;
    --white: #fff;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #fe5d37;
    --danger: #dc3545;
    --light: #ECF4FF;
    --dark: #120F2D;
}

h1 {
    font-size: clamp(2rem, 5vw, 6rem);
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}


h2 {
    font-family: "Product Sans", Poppins;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    /* min: 24px, max: 40px */
}

h3 {
    font-family: "Product Sans", Poppins;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    /* min: 24px, max: 40px */
}

h4 {
    font-family: "Product Sans", Poppins;
    font-size: clamp(1.5rem, 4vw, 1.5rem);
    /* min: 24px, max: 40px */
}

h5 {
    color: var(--dark);
    font-family: "Product Sans", Poppins;
    font-size: clamp(1rem, 4vw, 1.2rem);
    /* min: 24px, max: 40px */
}

p {
    font-size: clamp(1rem, 2.5vw, 1rem);
    /* min: 16px, max: 20px */
}

body {
    margin: 0;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    text-align: left;
    background-color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}

/* h5 {
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: var(--weight-medum);
    color: var(--secondary);
} */

h1 {
    font-size: 1.8rem;
    font-size: clamp(1rem, 5vw, 6rem);
    color: var(--light);
}

/* Navbar Styling */
.navbar {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}

.navbar.active {
    background-color: black;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.navbar .logo {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.wrapper-ul ul li,
.wrapper-ul1 ul li,
.wrapper-ul2 ul li,
.wrapper-ul3 ul li,
.wrapper-ul4 ul li {
    padding: 0px 20px 5px 5px;
}

.navbar .menu a {
    /* color: var(--dark); */
    text-decoration: none;
    font-size: var(--font-small);
    transition: color 0.3s ease;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.navbar .menu a:hover {
    text-decoration: underline;
}

.nav-link {

    color: var(--dark);
}

.nav-link.active {
    color: var(--light);
}

.navbar .menu a:hover {
    color: var(--gray);
}

/* Dropdown Menu */
.dropdown .dropbtn {
    background-color: transparent;
    color: var(--dark);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.dropbtn.active {
    color: var(--light);
}

.dropdown:hover .dropbtn {
    color: #f4f4f4;
}

.dropdown-content {
    text-align: center;
    display: block;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a {
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}


::-webkit-scrollbar {
    width: 0;
}



.wrapper-ul {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    /* padding: 10px; */
}



.wrapper-ul3 {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    /* padding: 10px; */
}

.wrapper-ul3.active {
    height: 300px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

}

.wrapper-ul4 {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    /* padding: 10px; */
}

.wrapper-ul4.active {
    height: 300px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

}

.wrapper-ul.active {
    height: 300px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

}

.wrapper-ul2 {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

}

.wrapper-ul2.active {
    height: 300px;
    opacity: 1;
    visibility: visible;

}

.container-wrapper {
    width: 75%;
}

.wrapper-ul1 {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    /* padding: 10px; */

}

.wrapper-ul1.active {
    opacity: 1;
    visibility: visible;
    height: 300px;

}

/* .listB:hover .container .wrapper-ul1 {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: translateY(0px);
} */

.wrapper-item-ul {
    border-right: 1px solid #dcdcdc
}

.wrapper-item-ul ul li a {
    font-size: var(--font-small);
    font-weight: var(--weight-small);
    color: var(--dark);
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    padding: 10px;
}

.wrapper-item-ul ul li {
    transition: all 0.4s ease-in-out;
}

.wrapper-item-ul ul li a:hover {
    letter-spacing: 1px;
}

/* .wrapper-item-ul ul li:hover {
    background-color: #dbdbdb;
} */

.title-ul {
    font-size: var(--font-small);
    font-weight: var(--weight-medum);
    color: var(--gray);
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.title-ul:hover {
    transform: skew(-10deg);
    color: var(--dark);
}


.wrapper-ul,
.wrapper-ul1,
.wrapper-ul2,
.wrapper-ul3,
.wrapper-ul4 {
    background-color: #FFFFFF;
}




/* input model search */
/* From Uiverse.io by 0xnihilism */
.input {
    width: 100%;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

.input::placeholder {
    color: #888;
}

.input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

.input:focus {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
}

.input:focus::placeholder {
    color: #fff;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.input:focus::after {
    content: "|";
    position: absolute;
    right: 10px;
    animation: blink 0.7s step-end infinite;
}

.input:valid {
    animation: typing 2s steps(30, end);
}

.input-container {
    position: relative;
    width: 100%;

}

.input {
    width: 100%;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

.input::placeholder {
    color: #888;
}

.input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

.input:focus {
    background-color: #010101;
    color: #fff;
    border-color: #d6d9dd;
}

.input:focus::placeholder {
    color: #fff;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    50% {
        transform: translateX(5px) rotate(5deg);
    }

    75% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.input:focus {
    animation: shake 0.5s ease-in-out;
}

@keyframes glitch {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

.input:not(:placeholder-shown) {
    animation: glitch 1s linear infinite;
}

.input-container::after {
    content: "|";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.input:focus+.input-container::after {
    color: #fff;
}

.input:not(:placeholder-shown) {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0 #000;
}




.increment,
.decrement {
    font-size: var(--font-button);
    font-weight: var(--weight-medum);
    color: var(--light);
    padding: 0.5rem 1.5rem;
    border: none;
    outline: line;
    background-color: var(--dark);
}


/* carousel */
/* .carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
} */


/* categories */
.wrapper-btn {
    position: absolute;
    bottom: 10%;
    left: 40%;
    margin: auto;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.wrapper-categories img {
    transition: all 0.4s ease-in-out;
}

.wrapper-categories {
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.wrapper-categories:hover {
    box-shadow: rgba(48, 47, 47, 0.4) 5px 5px, rgba(48, 47, 47, 0.3) 10px 10px, rgba(48, 47, 47, 0.2) 15px 15px, rgba(48, 47, 47, 0.1) 20px 20px, rgba(48, 47, 47, 0.05) 25px 25px;
}

.wrapper-categories:hover img {
    transform: scale(1.1);
    opacity: 0.5;

}

.wrapper-categories:hover .wrapper-btn {
    transform: translateY(-10px);
    opacity: 1;
}



.menu {
    align-items: center;
}

/* carousel */
/* .carousel-item {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
    max-width: 90%;
    text-align: center;
} */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background: linear-gradient(to right,
            #0c1526,
            rgba(0, 0, 0, 0.5),
            #0c1526);

    z-index: 1;
}

.carousel-items p {
    font-weight: var(--weight-small);
    color: var(--dark);
}

.carousel-caption h5 {
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: var(--weight-medum);
    color: var(--secondary);
}

.carousel-caption h1 {
    font-size: 1.8rem;
    font-size: clamp(1rem, 5vw, 6rem);
    color: var(--light);
}

.btn-border-radius {
    border-radius: 25% 10%;
}

.wrapper-caption {
    width: auto;
    padding: 2rem 5rem 2rem 4.7rem;

}

/* From Uiverse.io by xueyuantan */

.btn-caption {
    /* width: 175px;
    height: 54px; */
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    overflow: hidden;
    z-index: 1;
}

.carousel-indicatorss {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    width: 60px;
    top: 0;
    right: calc(100% - 60px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-next-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-main);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px var(--light);
}

.carousel-indicators .active {
    background-color: var(--color-main);
}

.carousel-indicators {
    width: 100%;
    bottom: 10%;
    right: calc(100% - 60px);
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    background: var(--color-main);
    border: 5px solid #FFFFFF;
    border-radius: 25px;
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

/* btn */
/* From Uiverse.io by doniaskima */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-53 {
    box-shadow: 0px 0px 10px var(--color-main);
    animation: zoomInOut 3s infinite;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--light);
    background-image: none;
    color: var(--color-main);
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}

.btn-53:hover {
    box-shadow: 0px 0px 10px var(--color-main);
}

.btn-53:disabled {
    cursor: default;
}

.btn-53:-moz-focusring {
    outline: auto;
}

.btn-53 svg {
    display: block;
}

.btn-53 [hidden] {
    display: none;
}

.btn-53 {
    /* border: 1px solid; */
    font-size: 0.8rem;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 0.5rem 1rem;
    position: relative;
    /* text-transform: uppercase; */
}

.btn-53 .original {
    font-size: 0.8rem;
    background: var(--color-main);
    color: var(--light);
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
    box-shadow: 0px 0px 10px var(--color-main);
}

.btn-53:hover .original {
    transform: translateY(100%);
}

.btn-53 .letters {
    display: inline-flex;
}

.btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
}

/* Responsive Navbar */



.gallery-container,
.gallery-container1 {
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px 0;
}


.image-card,
.image-card1,
.image-card2 {
    display: inline-block;
    width: 22%;
    margin: 0 10px;
    height: auto;
}

.image-card img,
.image-card1 img,
.image-card2 img {
    width: 100%;
    /* border-radius: 8px; */
    transition: all 0.4s ease-in-out;
}

.image-card img:hover {
    transform: scale(1.05);
}

.image-card2 img:hover {
    transform: scale(1.05);
}

.image-card1 img:hover {
    transform: scale(1.05);
}

.go-button,
.go-button1 {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    left: 0;
}


.go-button:hover {
    background-color: #0056b3;
}

.go-button1:hover {
    background-color: #0056b3;
}

.go-button2:hover {
    background-color: #0056b3;
}

.backBtn,
.backBtn1,
.backBtn {
    display: block;
    left: 0;
}


.backBtn.hidden {
    display: none;
}

.backBtn1.hidden {
    display: none;
}

.backBtn2.hidden {
    display: none;
}

/* Buttons on top of images */
.btn-floating {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    left: 90%;
}

.btn-floating-left {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    left: 5%;
}

/* Khmer */
.Khmer {
    color: var(--dark);

}

.wrapper-btn button {
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    transition: all 0.4s ease-in-out;
}

.wrapper-btn button:hover {
    box-shadow: 0px 0px 10px var(--secondary);
}



/* footer */


footer {
    padding: 2rem;
    background-color: var(--gray-dark);
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.primary {
    color: var(--light);
    background-color: var(--color-main);
    border-color: var(--color-main);
    transition: all 0.4s ease-in-out;
}

.primary:hover {
    background-color: var(--light);
    color: var(--color-main);
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px var(--color-main);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-footer {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 5px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer h4,
h5 {
    color: var(--color-main);
}

footer p {
    color: var(--light);
}

.list-unstyled li {
    margin-bottom: 0.5rem;
}

.list-unstyled li a {
    line-height: 1.5;
    font-size: var(--font-small);
    text-decoration: none;
    color: var(--light);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.list-unstyled li a:hover {
    letter-spacing: 2px;
    text-decoration: solid underline;
}



/* recent-product */
.wrapper-recent {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.wrapper-img {
    overflow: hidden;
}

.wrapper-img img {
    transition: all 0.4s ease-in-out;
}

.wrapper-recent:hover .wrapper-img img {
    transform: scale(1.2);
}

.product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.product-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;

}

.product-action a:hover {
    transform: translateY(-10px);
}

.wrapper-recent:hover {
    box-shadow: rgba(48, 47, 47, 0.4) 5px 5px, rgba(48, 47, 47, 0.3) 10px 10px, rgba(48, 47, 47, 0.2) 15px 15px, rgba(48, 47, 47, 0.1) 20px 20px, rgba(48, 47, 47, 0.05) 25px 25px;
}

.wrapper-recent:hover .product-action {
    background: rgba(255, 255, 255, 0.2);
}

.wrapper-recent:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.wrapper-recent:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.wrapper-recent:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.wrapper-recent:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.btn-outline-primary {
    background-color: var(--color-main);
    color: var(--light);
    transition: all 0.4s ease-in-out;
}

.btn-outline-primary:hover {
    background-color: var(--light);
    color: var(--color-main);
}

.offPriceShow {
    font-weight: var(--weight-small);
    color: var(--danger);
    text-decoration: line-through;
}


/* .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */






.btn-next i {
    font-size: 1.5rem;
}

.px-md-5 {
    padding-right: 3rem;
    padding-left: 3rem;

}

.wrapper-caption {
    text-align: center;
    width: 75%;
    padding: 2rem;
}

.btn-caption {
    font-size: var(--font-button);
    padding: 0.8rem 2rem;
    border-radius: 25px;
    position: relative;
}

.btn-53 {
    font-size: var(--font-button);
    padding: 0.8rem 2rem;
    border-radius: 25px;
    position: relative;
}

.btn-53 .original {
    font-size: var(--font-button);
}

.wrapper-ache {
    width: 80%;
    ;
}






@media (max-width: 1000px) {
    .btn-53 .original {
        font-size: 0.8rem;
    }

    .btn-53 {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }

    .carousel-item {
        height: 300px;
    }

    .carousel-container {
        padding: 20px;
    }

    .container-wrapper {
        width: 100%;
    }

    .wrapper-ul {
        text-align: left;
        top: 100px;
        height: 380px;
        overflow: scroll;
    }

    .wrapper-item-ul ul li a {
        font-size: 0.7rem;
    }

    .wrapper-item-ul ul li a:hover {
        letter-spacing: 0;
    }

    .wrapper-ul1 {
        text-align: left;
        top: 70px;
        height: 380px;
        overflow: scroll;
        background-color: var(--light);
        z-index: 9999;
    }

    .wrapper-item-ul1 ul li a {
        font-size: 0.7rem;
    }

    .wrapper-item-ul1 ul li a:hover {
        letter-spacing: 0;
    }

    .wrapper-ul2 {
        text-align: left;
        top: 0;
        height: 380px;
        overflow: scroll;
    }

    .wrapper-item-ul2 ul li a {
        font-size: 0.7rem;
    }

    .wrapper-item-ul2 ul li a:hover {
        letter-spacing: 0;
    }

    .wrapper-ul3 {
        text-align: left;
        top: 0;
        height: 380px;
        overflow: scroll;
    }

    .wrapper-item-ul3 ul li a {
        font-size: 0.7rem;
    }

    .wrapper-item-ul3 ul li a:hover {
        letter-spacing: 0;
    }

    .wrapper-ul4 {
        text-align: left;
        top: 70px;
        height: 380px;
        overflow: scroll;
        background-color: var(--light);
        z-index: 9999;
    }

    .wrapper-item-ul4 ul li a {
        font-size: 0.7rem;
    }

    .wrapper-item-ul4 ul li a:hover {
        letter-spacing: 0;
    }

    .navbar .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        align-items: start;
        transition: all 0.4s ease-in-out;
    }

    .menu {
        align-items: start;
    }

    /* .navbar .menu li {
        margin: 10px 0;
    } */
    /* li {
        padding: 10px 0px;
    } */

    .list-unstyled li {

        padding: 0px;
    }

    .navbar .menu li a {
        font-size: 1.2rem;
    }

    .navbar .menu.active {

        display: flex;
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar .hamburger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--dark);
        margin: 6px 0;
        transition: transform 0.3s ease;
    }

    .navbar .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }

    /* .image-card {
        width: 480px;
    } */

    .input-footer {

        width:
            80%;
    }

    .wrapper-btn {
        left: 30%;
    }

    .wrapper-btn1 {
        left: 35%;
    }

    .wrapper-btn .btn-responsive {
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;
        border-radius: 20px;
    }

    .btn-square {
        width: 30px;
        height: 30px;
    }

    .image-card,
    .image-card1,
    .image-card2 {
        width: 90%;
    }


}

.btn-clear {
    opacity: 0;
}

.btn-clear.active {
    opacity: 1;
}