* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

:root {
    --font-button: 1.2rem;
    --font-small: 1rem;
    --weight-small: 500;
    --font-medum: 1.3rem;
    --weight-medum: 650;
    --font-large: 2rem;
    --weight-larger: 800;
    --color-main: #2878EB;
    --blue: #007bff;
    --white: #fff;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #fe5d37;
    --danger: #dc3545;
    --light: #ECF4FF;
    --dark: #120F2D;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    text-align: left;
    background-color: #000000;
    transition: all 0.4s ease-in-out;
}

h5 {
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: var(--weight-medum);
    color: var(--secondary);
}

h1 {
    font-size: 1.8rem;
    font-size: clamp(1rem, 5vw, 6rem);
    color: var(--light);
}

/* Navbar Styling */
.navbar {
    background-color: #eeeeee;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}

.navbar.active {
    background-color: black;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.navbar .logo {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.wrapper-ul ul li,
.wrapper-ul1 ul li,
.wrapper-ul2 ul li {
    padding: 0px 20px 5px 5px;
}

.navbar .menu a {
    /* color: var(--dark); */
    text-decoration: none;
    font-size: var(--font-small);
    transition: color 0.3s ease;
    padding: 10px;
}

.nav-link {

    color: var(--dark);
}

.nav-link.active {
    color: var(--light);
}

.navbar .menu a:hover {
    color: var(--gray);
}

/* Dropdown Menu */
.dropdown .dropbtn {
    background-color: transparent;
    color: var(--dark);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.dropbtn.active {
    color: var(--light);
}

.dropdown:hover .dropbtn {
    color: #f4f4f4;
}

.dropdown-content {
    text-align: center;
    display: block;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a {
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}


::-webkit-scrollbar {
    width: 0;
}



.wrapper-ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

}

.wrapper-ul.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

}

.wrapper-ul2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

}

.wrapper-ul2.active {
    opacity: 1;
    visibility: visible;

}

.wrapper-ul1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    /* padding: 10px; */

}

.wrapper-ul1.active {
    opacity: 1;
    visibility: visible;

}

/* .listB:hover .container .wrapper-ul1 {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: translateY(0px);
} */

.wrapper-item-ul {
    border-right: 1px solid #dcdcdc
}

.wrapper-item-ul ul li a {
    font-size: var(--font-small);
    font-weight: var(--weight-small);
    color: var(--light);
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    padding: 10px;
}

.wrapper-item-ul ul li {
    transition: all 0.4s ease-in-out;
}

.wrapper-item-ul ul li a:hover {
    letter-spacing: 2px;
}

/* .wrapper-item-ul ul li:hover {
    background-color: #dbdbdb;
} */

.title-ul {
    color: var(--gray);
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}


.wrapper-ul,
.wrapper-ul1,
.wrapper-ul2 {
    background-color: var(--dark);
}




/* input model search */
/* From Uiverse.io by 0xnihilism */
.input {
    width: 100%;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

.input::placeholder {
    color: #888;
}

.input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

.input:focus {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
}

.input:focus::placeholder {
    color: #fff;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.input:focus::after {
    content: "|";
    position: absolute;
    right: 10px;
    animation: blink 0.7s step-end infinite;
}

.input:valid {
    animation: typing 2s steps(30, end);
}

.input-container {
    position: relative;
    width: 100%;

}

.input {
    width: 100%;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

.input::placeholder {
    color: #888;
}

.input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

.input:focus {
    background-color: #010101;
    color: #fff;
    border-color: #d6d9dd;
}

.input:focus::placeholder {
    color: #fff;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    50% {
        transform: translateX(5px) rotate(5deg);
    }

    75% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.input:focus {
    animation: shake 0.5s ease-in-out;
}

@keyframes glitch {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

.input:not(:placeholder-shown) {
    animation: glitch 1s linear infinite;
}

.input-container::after {
    content: "|";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.input:focus+.input-container::after {
    color: #fff;
}

.input:not(:placeholder-shown) {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0 #000;
}




.increment,
.decrement {
    font-size: var(--font-button);
    font-weight: var(--weight-medum);
    color: var(--light);
    padding: 0.5rem 1.5rem;
    border: none;
    outline: line;
    background-color: var(--dark);
}


/* carousel */
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


/* categories */
.wrapper-btn {
    position: absolute;
    bottom: 10%;
    left: 40%;
    margin: auto;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.wrapper-categories img {
    transition: all 0.4s ease-in-out;
}

.wrapper-categories {
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.wrapper-categories:hover {
    box-shadow: rgba(48, 47, 47, 0.4) 5px 5px, rgba(48, 47, 47, 0.3) 10px 10px, rgba(48, 47, 47, 0.2) 15px 15px, rgba(48, 47, 47, 0.1) 20px 20px, rgba(48, 47, 47, 0.05) 25px 25px;
}

.wrapper-categories:hover img {
    transform: scale(1.1);
    opacity: 0.5;

}

.wrapper-categories:hover .wrapper-btn {
    transform: translateY(-10px);
    opacity: 1;
}



.menu {
    align-items: center;
}



/* Responsive Navbar */



.gallery-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.image-card {
    display: inline-block;
    width: 300px;
    margin: 0 10px;
}

.image-card img {
    width: 100%;
    border-radius: 8px;
}

.go-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    left: 0;
}

.go-button:hover {
    background-color: #0056b3;
}

.backBtn {
    display: none;
    left: 0;
}

.backBtn.hidden {
    display: block;
}

/* Buttons on top of images */
.btn-floating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    left: 90%;
}

.btn-floating-left {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    left: 5%;
}


















@media (max-width: 1000px) {
    .navbar .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        align-items: start;
        transition: all 0.4s ease-in-out;
    }

    .menu {
        align-items: start;
    }

    /* .navbar .menu li {
        margin: 10px 0;
    } */
    li {
        padding: 10px 0px;
    }

    .navbar .menu li a {
        font-size: 1.2rem;
    }

    .navbar .menu.active {

        display: flex;
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar .hamburger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--dark);
        margin: 6px 0;
        transition: transform 0.3s ease;
    }

    .navbar .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }

    .image-card {
        width: 480px;
    }
}